.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-next {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: large;
  background-color: rgb(71, 48, 114);
  border: none;
  border-radius: 5px;
}

.btn-next:hover {
  opacity: 90%;
  cursor: pointer;
}

.btn-prev {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: large;
  background-color: rgb(71, 48, 114);
  border: none;
  border-radius: 5px;
}

.btn-prev:hover {
  opacity: 90%;
  cursor: pointer;
}

.fixed-container{
  width: 100vw;
  height: 100px;
  position: fixed;
}

.btn:disabled {
  background-color: gray;
}